.header-main-container {
  background-color: #202020;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  padding-left: 50px;
  padding-right: 50px;
}
.header-logo-image {
  height: 40px;
}
.header-list {
  list-style-type: none;
  display: flex;
}
.header-listItem {
  font-family: Roboto;
  color: white;
  padding-right: 18px;
  font-weight: bold;
  text-decoration: none;
}
.header-logout-button {
  background-color: #6366f1;
  border: none;
  padding: 5px;
  border-radius: 5px;
  color: white;
  font-weight: 500;
  width: 100px;
  height: 30px;
  cursor: pointer;
}
